@model IEnumerable<mis4200_Project.Models.Recognition>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    var total = ViewBag.total;    var recone = ViewBag.one;
    var rectwo = ViewBag.two;
    var recthree = ViewBag.three;
    var recfour = ViewBag.four;
    var recfive = ViewBag.five;
    var recsix = ViewBag.six;
    var recseven = ViewBag.seven;
    var dep = ViewBag.dep;
    var pos = ViewBag.pos;
    var phone = ViewBag.phone;
    var email = ViewBag.email;
    var last = ViewBag.last;
    var first = ViewBag.first;
    var ava = ViewBag.ava;
}

<h3>
    <div class="row">
        <div class="col-sm-2">
            <div class="well">
                <p >Total</p>
                <p>@total </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p>Exccellence</p>
                <p>  @recone </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p  >Integrity</p>
                <p  >  @rectwo </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p  >Stewardship</p>
                <p  >  @recthree </p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="well">
                <p  >Culture</p>
                <p  >@recfour </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p  >Good</p>
                <p  > @recfive </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p  >Innovate</p>
                <p>  @recsix </p>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="well">
                <p  >Balanced </p>
                <p  >@recseven </p>
            </div>
        </div>
    </div>

</h3>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>


    <div class="we">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p>
                        
                           Hello @first @last 
                        
                    </p>
                    <img src="@Url.Content("~/Pictures/")@ava" class="img-circle" height="65" width="65" alt="Avatar">
                </div>
                <div>
                    <p>About</p>

                    <p>
                        Department: @dep
                    <p>
                        Position: @pos

                    <p>
                        Phone: @phone
                    <p>
                        Email: @email
                    </p>

                </div>
                <!--Dingos ate my baby-->
                <!--
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <p><strong>Ey!</strong></p>
                    People are looking at your profile. Find out who.
                </div>
                -->
                

            </div>
            <div class="col-sm-7">
                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <p contenteditable="true">Status: Feeling Blue</p>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                
                                <img src="@Url.Content("~/Pictures/")@item.Profile.avatar" class="img-circle" height="55" width="55" alt="Avatar" />
                            </div>
                        </div>



                        <div class="col-sm-7">
                            <div class="well">
                                <p> @Html.DisplayFor(modelItem => item.Profile.employeeFullName) You're being recognized for @Html.DisplayFor(modelItem => item.value) becasue:</p>
                                <p>
                                    @Html.DisplayFor(modelItem => item.recognitionDescription)
                                </p>
                                <p>
                                    Recognized on:@Html.DisplayFor(modelItem => item.recognitionDate)

                                </p>
                            </div>
                        </div>
                    </div>
                }
</body>
</html>