@model IEnumerable<mis4200_Project.Models.Profile>

@{
    ViewBag.Title = "Profile";
}

<h2>Employee Profiles</h2>

<p>
    @Html.ActionLink("Create New Profile", "Create")
</p>
<table class="table table-striped table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.socialMediaLinks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.employeeFullName)
               <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeSince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.socialMediaLinks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.profileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.profileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profileID })
        </td>
    </tr>
}

</table>
