@model IEnumerable<mis4200_Project.Models.Profile>

@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "View Profiles";
}

<h2>View Profiles</h2>
@using (@Html.BeginForm())
{
    @Html.TextBox("search")
    <input type="submit" value="search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.socialMediaLinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.employeeFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeLastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeSince)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.socialMediaLinks)
    </td>
    <td>
        <img src = "@Url.Content("~/Pictures/")@item.avatar" height ="100" />
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.profileID })
        @Html.ActionLink("Details", "Details", new { id = item.profileID })
        @Html.ActionLink("Delete", "Delete", new { id = item.profileID })
    </td>
</tr>
    }

</table>
