@model mis4200_Project.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoreValueType.CoreValueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreValueType.CoreValueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.employeeFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.employeeFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
