@model IEnumerable<mis4200_Project.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValueType.CoreValueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.employeeFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValueType.CoreValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.employeeFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecognitionID })
        </td>
    </tr>
}

</table>
