@model IEnumerable<mis4200_Project.Models.Recognition>

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    var dep = ViewBag.dep;
    var pos = ViewBag.pos;
    var phone = ViewBag.phone;
    var email = ViewBag.email;
    var last = ViewBag.last;
    var first = ViewBag.first;
    var ava = ViewBag.ava;
}

<h2>Recognitions</h2>

<p>
    <button type="button" class="btn-success btn-sm">
        <span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Recognize a Coworker!", "Create")
    </button>
    
</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>


    <div class="we">
        <div class="we">
            <div class="row">
                <div class="col-sm-3 well">
                    <div class="well">
                        <p>
                            
                                Hello @first @last
                            
                        </p>
                        <img src="@Url.Content("~/Pictures/")@ava" class="img-circle" height="65" width="65" alt="Avatar">
                    </div>
                    <div class="well">
                        <p>About</p>
                        
                        <p>
                            Department: @dep 
                        <p>
                            Position: @pos
                        
                        <p>
                            Phone: @phone
                        <p>
                            Email: @email
                        </p>

                    </div>
                    <!--Dingos ate my baby-->
                    <!--
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><strong>Ey!</strong></p>
                People are looking at your profile. Find out who.
            </div>
            -->
                   

                </div>
                <div class="col-sm-7">
                    <!--
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <p contenteditable="true">Status: Feeling Blue</p>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            -->
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well">
                                    <img src="@Url.Content("~/Pictures/")@item.Profile.avatar" class="img-circle" height="65" width="65" alt="Avatar">
                                    <p> @Html.DisplayFor(modelItem => item.Profile.employeeFullName)</p>

                                </div>
                            </div>



                            <div class="col-sm-9">
                                <div class="well">
                                    <p>Is being recognized for: @Html.DisplayFor(modelItem => item.value) </p>
                                    <p>

                                        @Html.DisplayFor(modelItem => item.recognitionDescription)
                                    </p>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.recognitionDate)

                                    </p>
                                    <p>
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
</body>
</html>


